---
// import { CTA } from '@/partials/CTA';
import { GradientText } from '@/components/react/GradientText';
import Project from '@/partials/Project.astro';
import { AppConfig } from '@/data/appConfig';
import { projects } from '@/data/projects';
import { CTA } from '@/partials/CTA';
import { Hero } from '@/partials/Hero';

import Base from '../Base.astro';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <Hero />
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <h2 class="mb-6 text-2xl font-bold"> Recent <GradientText>Projects</GradientText> </h2>
    <div class="flex flex-col gap-6">
      {
        projects.map((project) => {
          return (
            <Project
              name={project.name}
              description={project.description}
              link={project.link}
              img={project.img}
              category={project.category}
            />
          );
        })
      }
    </div>
  </div>
  <CTA />
</Base>
