---
// import { CTA } from '@/partials/CTA';
import { Project } from '@/components/Project';
import { AppConfig } from '@/data/appConfig';
import { projects } from '@/data/projects';
import { CTA } from '@/partials/CTA';
import { Hero } from '@/partials/Hero';
import { ProjectList } from '@/partials/ProjectList';

import Base from './Base.astro';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <Hero />
  <ProjectList>
    <div class="flex flex-col gap-4">
      {
        projects.map((project) => {
          return (
            <Project
              name={project.name}
              description={project.description}
              link={project.link}
              img={project.img}
              category={project.category}
            />
          );
        })
      }
    </div>
  </ProjectList>
  <CTA />
</Base>
