---
import Gradient from '@components/astro/Gradient.astro';
import SocialLink from '@components/astro/SocialLink.astro';
import { socials } from '@data/socials';
---

<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="flex flex-col items-center justify-around gap-6 sm:flex-row">
    <div class="sm:w-7/12">
      <div class="text-3xl font-bold">
        <Gradient text="Connect" /> with me!
      </div>
      <p class="mt-3 text-xl text-gray-300">
        I am currently looking for full-time remote or hybrid roles with a
        willingness to relocate. If you would like to work with me or have any
        feedback on my projects, please reach out, I'd <Gradient
          text="love"
        /> to hear from you!
      </p>
    </div>
    <div class="w-full sm:w-1/4">
      <div class="mt-3 flex flex-col gap-2">
        {
          socials.map((soc) => (
            <SocialLink
              alt={soc.imgAlt}
              link={soc.link}
              text={soc.name}
              show={soc.showOnList}
              rawSVG={soc.svg}
            />
          ))
        }
      </div>
    </div>
  </div>
</div>
